video {
position: fixed;
z-index: -100;
top:0px;
left:0px;
}
a{font-size: 60px;
text-decoration:none;
left:25%;
top:40%;
color:white;
opacity: 0.6;
position: absolute;
font-family: Francois One, sans-serif;}

a:hover {
   opacity: 0.5;
}